[1] Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

[2] Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:

with open('test.txt','r') as file:
    test2 = file.readline()
print(test2)

This is a test of the emergency text system,

In [4]:
print(test1 == test2)

True

[3] Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [5]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)

[4] Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3 as sql

db = sql.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

[5] Read books.csv and insert its data into the books table.

In [7]:
import sqlite3 as sql
import csv

conn = sql.connect("books.db")
cursor = conn.cursor()
with open("books.csv","r") as file:
    books = csv.DictReader(file)
    for book in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",(book['title'],book['author'],book['year']))
conn.commit()
conn.close()

[6] Select and print the title column from the books table in alphabetical order.

In [12]:
import sqlite3 as sql
conn = sql.connect('books.db')
cursor = conn.cursor()
records = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for record in records:
    print(record[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

[7] From the books table, select and print all columns in the order of publication.

In [11]:
import sqlite3 as sql
conn = sql.connect('books.db')
cursor = conn.cursor()
records = cursor.execute("SELECT * FROM books ORDER BY year ASC")
for record in records:
    print(record)
conn.commit()
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

[8] Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [1]:
import sqlalchemy
connection = sqlalchemy.create_engine('sqlite:///books.db')
connection

Engine(sqlite:///books.db)

[9] Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

!python -m pip install redis

In [11]:
import redis
connection = redis.Redis(host='localhost', port=6379)
connection.hset(name='test', mapping={
    'count':1,
    'name':'Fester Bestertester'
})
connection.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

[10]  Increment the count field of test and print it.

In [13]:
connection.hincrby(name='test', key='count', amount=4)
connection.hgetall('test')

{b'count': b'6', b'name': b'Fester Bestertester'}